@import '../../../styles/variables';
@import '../../../styles/mixins';

.login-page {
    .login-content {
        .form-component{
            margin-bottom: $distanceComponent;
        }
        .form-logo {
            text-align: center;
        }

        .form-title{
            text-align: center;
            @include set-font($fontSizeTitle)
        }

        .form-field{
            .item-icon{

            }

        }
    }
}

