@import '../../../styles/variables';
@import '../../../styles/mixins';

.authentication-layout {
     padding-top: 128px;
     .card-authentication{
          box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
          .form-block{
               margin-top: $distanceBlock;
               &:first-child{
                    margin-top: 0;
               }
          }
          .form-title{
               text-align: center;
               @include set-font($fontSizeTitle, $lineHeightTitle);
          }

          .form-logo{
               text-align: center;
          }

          .form-other{
               margin-top: $distanceComponent;
               text-align: right;
          }
     }
}