$colorMusic: #fff;
$colorMusicSlow: #a19f9f;
$colorHighlight: $colorPrimaryHighLight;

$colorTransparent: #60626691;

.content-description {
    color: $colorMusic;
    cursor: default;
    @include transition-default();

    &:hover {
        color: $colorHighlight;
    }
}

.audio-image-tag {
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
}

.music-layout {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    .music-container {
        padding-top: 70px;
        width: 100%;
        color: $colorMusic;
    }
}