.music-layout{
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    .music-container{
        padding-top: 9%;
        width: 100%;
        color: $colorWhite;
    }
}