@import "variables";

@mixin set-font(
    $fontSize: $fontSizeDefault,
    $lineHeight: $lineHeightDefault,
    $fontColor: #000000,
    $fontWeigh: normal,
    $fontFamily: $fontSizeDefault) {
    font-size: $fontSize;
    color: $fontColor;
    line-height: $lineHeight;
    font-weight: $fontWeigh;
    font-family: $fontFamily;
}