@import "variables";

@mixin set-font(
    $fontSize: $fontSizeDefault,
    $lineHeight: $lineHeightDefault,
    $fontColor: #000000) {
    font-size: $fontSize;
    color: $fontColor;
    line-height: $lineHeight;
}