$zIndexHeader: 100;

$colorWhite: #fff;
$colorWhiteOutFocus: rgba(255,255,255,.65);

$colorGray: #606266;

$colorPrimaryHighLight: rgb(105, 149, 201);
$colorPrimary: rgb(74, 131, 201);
$colorPrimarySlowLight: rgb(29, 70, 120);


$fontSizeDefault: 14px;
$lineHeightDefault: 18px;

$fontSizeTitle: 24px;
$lineHeightTitle: 32px;


$distanceComponent: 12px;

$borderRadius: 4px;