.common-logo-spin {
    max-height: 48px;
    vertical-align: middle;
    display: inline-block;

    -webkit-animation: app-logo-spin infinite 10s linear;
    animation: app-logo-spin infinite 10s linear;
}