.music-player-container {
    .music-player-presentational {
        .music-player-wrapper {
            display: inline-block;
            background: rgba(77, 60, 60, 0.55);
            border: none;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);

            .player-component {
                border-bottom: 1px solid $colorGray;
                padding: $distanceComponent 0;

                &:last-child {
                    border-bottom: none;
                }
            }

            .player-image-component {

                .player-image {
                    height: 280px;
                    width: 280px;
                    border-radius: 50%;
                    max-height: 100%;
                    max-width: 100%;
                    object-fit: contain;
                    object-position: center;

                    vertical-align: middle;
                    display: inline-block;

                    -webkit-animation: rotate-0-360 10s linear 0s infinite normal;
                    animation: rotate-0-360 10s linear 0s infinite normal;

                    -webkit-animation-play-state: paused;
                    animation-play-state: paused;
                }

                .player-image.playing {
                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                }

                .player-image.paused {
                    -webkit-animation-play-state: paused;
                    animation-play-state: paused;
                }

                .player-image.stopped {
                    -webkit-animation: rotate-360-0 0.5s linear 0s 1 normal;
                    animation: rotate-360-0 0.5s linear 0s 1 normal;

                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                }
            }

            .player-description {
                color: $colorWhite;

                .description {
                    margin-bottom: $distanceComponent;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .player-controller {
                .controller-action {
                    display: inline-block;
                    padding: 0 6px;
                    height: 32px;

                    .action-icon {
                        font-size: 32px;
                        line-height: 32px;
                        cursor: pointer;
                        transition: color .3s;

                        &:hover {
                            color: rgba(50, 250, 255, .75);

                            svg {
                                fill: rgba(50, 250, 255, 0.75);
                                -webkit-filter: drop-shadow(0 0 10px rgba(50, 250, 255, .75));
                                filter: drop-shadow(0 0 10px rgba(50, 250, 255, .75));
                            }
                        }
                    }
                }
            }
        }
    }

}
