@import "./src/styles/variables";
@import "./src/styles/mixins";

$colorHeader: #001529;
.header {
    background: rgba(39, 75, 80, 0.2);

    .header-content {
        .header-menu {
            .menu-content {
                .menu-item {
                    a {
                        color: $colorWhiteOutFocus;

                        &:hover {
                            color: $colorWhite;
                        }
                    }
                }

                .menu-item.active {
                    a {
                        color: $colorWhite;
                    }
                }
            }
        }
    }
}
.music-page{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    border-color: #666;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}