@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.cm-ip-text {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: $borderRadius;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: $colorGray;
    display: inline-block;
    font-size: inherit;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 0 12px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;

    &:focus {
        border-color: $colorPrimary;
    }
}