.playlist-audio {
    display: flex;
    height: 48px;
    .audio-group-content{
        display: flex;
        width: 100%;
        padding-right: $distanceBlock;
        .content{
            padding: 0 $distanceComponent;
        }
        .audio-number {
            text-align: center;
            width: 64px;
            @include set-font($fontSizeMedium, 48px, $colorMusic);
        }

        .audio-image {
            .audio-image-tag{
                height: 48px;
                width: 48px;
            }
        }

        .audio-description {
            width: 100%;
            .audio-title {
                font-size: $fontSizeMedium;
                font-weight: bold;
            }

            .audio-artist {

            }
        }

        .audio-duration {
            @include set-font($fontSizeDefault, 48px, $colorMusic);
        }
    }

    .audio-group-action {
        min-width: max-content;
        display: flex;
        .action {
            padding: 0 $distanceComponent;
        }
    }

}