$heightComponentAudio: 48px;
$backgroundActive: #60626691;

.playlist-audio-container {
    padding: 3px 0;
    border-bottom: 1px solid $colorTransparent;
    color: $colorMusicSlow;
    @include transition-default();
    &:hover {
        background-color: $backgroundActive;
        color: $colorMusic;
    }

    &:last-child{
        border-bottom: 0;
    }

    .playlist-audio-president {
        .playlist-audio {
            display: flex;

            .audio-group-content {
                display: flex;
                width: 100%;
                padding-right: $distanceBlock;

                .content {
                    padding: 0 $distanceComponent;
                }

                .audio-number {
                    text-align: center;
                    width: 64px;
                    @include set-font($fontSizeMedium, $heightComponentAudio, inherit);
                }

                .audio-image {
                    .audio-image-tag {
                        height: $heightComponentAudio;
                        width: $heightComponentAudio;
                    }
                }

                .audio-description {
                    width: 100%;

                    .audio-title {
                        transition: unset;
                        height: 26px;
                        background-color: unset;
                        border: none;
                        padding: 0;
                        font-weight: bold;
                        @include set-font($fontSizeMedium, $lineHeightMedium, inherit);
                    }

                    .audio-artist {
                        color: inherit;
                    }
                }

                .audio-duration {
                    width: max-content;
                    @include set-font($fontSizeDefault, 48px, inherit);
                }
            }

            .audio-group-action {
                min-width: max-content;
                display: flex;

                .action {
                    padding: 0 $distanceComponent;
                }
            }

        }
    }
}
.playlist-audio-container.active {
    background-color: $backgroundActive;
    color: $colorMusic;
}